@import "tailwindcss";

@font-face {
  font-family: "Averia";
  src: url(/fonts/AveriaSerifLibre-Bold.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-primary: rgba(146, 86, 146, 0.8);
  --color-dark: rgb(96, 96, 96);
}

:root {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
    background-image: url('/img/ornaments/repeating-bg@0.5x-80.jpg');
    background-size: 30rem;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-dark)
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Averia',Georgia, 'Times New Roman', Times, serif;
}

h1 { font-size: 5rem; line-height: 5rem; }
h2 { font-size: 3rem; line-height: 3rem; }
h3 { font-size: 2.25rem; line-height: 2.25rem; }
h4 { font-size: 1.5rem; line-height: 1.5rem; }
h5 { font-size: 1rem; line-height: 1rem; }
h6 { font-size: 0.75rem; line-height: 0.75rem; }

input[type='number'] {
  @apply bg-white rounded-[0.5rem] px-3 py-2 text-center w-20 focus:outline-[var(--color-primary)];
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='radio'] {
  accent-color: var(--color-primary);
  @apply size-5 border-none outline-none;
}


.responsive-container {
  @apply px-[1rem] sm:px-[1.5rem] md:px-[1.5rem] lg:px-[3rem] sm:max-w-[1280px] w-full mx-auto;
}

.traslucid-panel-light {
  @apply bg-white/0 backdrop-blur-lg backdrop-brightness-160 shadow-lg;
}

.traslucid-panel {
  @apply bg-white/0 backdrop-blur-lg backdrop-brightness-115 shadow-lg;
}

.traslucid-panel-dark {
  @apply bg-white/0 backdrop-blur-lg shadow-lg;
}


.transparent-panel {
  @apply bg-white/40 p-4 rounded-[1.5rem];
}

.mark-primary {
    background-color: var(--color-primary);
    @apply text-white px-2 py-1 inline-block rounded-[0.5rem];
}

.mark-disabled {
  background-color: var(--color-primary);
  @apply text-white text-white px-2 py-1 inline-block rounded-[0.5rem];
}

.mark-success {
  @apply bg-emerald-300 text-white text-white px-2 py-1 inline-block rounded-[0.5rem];
}

.link-primary{
  color: var(--color-primary);
  @apply underline font-semibold cursor-pointer;
}

.text-primary {
  color: var(--color-primary);
}

.button-primary {
  background-color: var(--color-primary);
  @apply text-white;
}

.button-secondary {
  @apply bg-white;
}

.button-disabled {
  background-color: hsla(300, 0%, 45%, 0.8);
  @apply text-white;
}

.vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0.2rem;
  background-color: var(--color-dark)
}
